// app global css in SCSS form

body {
  background: $grey-1;
}

.bgImageUERM {
  background-image: url("../assets/images/uerm-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardStyle {
  padding: 10px;
  color: black;
  border-radius: 5px;
  word-wrap: break-word;
}

.borderStyle {
  border-style: solid;
  border-color: #e5e8e8;
  border-radius: 3px;
  margin-bottom: 20px;
  border-width: 2px;
  background-color: white;
}

.marginTop20px {
  margin-top: 20px;
}

.my-sticky-header-table {
  /* height or max-height is important */
  max-height: 400px;
  /* this is when the loading indicator appears */
  /* prevent scrolling behind sticky top row on focus */
}

.my-sticky-header-table .q-table__top,
.my-sticky-header-table .q-table__bottom,
.my-sticky-header-table thead tr:first-child th {
  /* bg color is important for th; just specify one */
  background-color: white;
}

.my-sticky-header-table thead tr th {
  position: sticky;
  z-index: 1;
}

.my-sticky-header-table thead tr:first-child th {
  top: 0;
}

.my-sticky-header-table.q-table--loading thead tr:last-child th {
  /* height of all previous header rows */
  top: 48px;
}

.my-sticky-header-table tbody {
  /* height of all previous header rows */
  scroll-margin-top: 48px;
}

.example-row-equal-width .row > div {
  padding: 10px 15px;
}

.example-row-equal-width .row + .row {
  margin-top: 1rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(153, 153, 153, 0.15);
  text-align: center;
  border-style: solid;
  border-color: #e5e8e8;
}

.q-expansion-item--expanded {
  border: 1px solid #000000;
  border-color: #e5e8e8;
  color: #1681ec;
  background-color: #f4f6f6;
  font-weight: 600;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttonBlock {
  width: 150px;
}

.notHighlightedRow {
  background-color: #ebf5fb;
  font-weight: normal;
}

.highlightedRow {
  background-color: #fff;
  font-weight: bold;
}

.rowSelected {
  background-color: #1681ec;
  color: #fff;
  font-weight: normal;
}

.marginLeftAndRight {
  margin: 0px 10px;
}

.custom-expansion-item:open {
  background-color: transparent !important;
  color: #000000 !important;
}

.custom-expansion-item {
  text-align: left;
  color: #000000 !important;
}

.sticky-thead {
  position: sticky;
  top: 0;
  background-color: #eeeeee;
  z-index: 1;
}

.insideCard {
  padding-bottom: 10px;
}

.virtual-scroll {
  overflow: auto;
}

.virtual-scroll:hover {
  overflow: auto;
}

.virtual-scroll::-webkit-scrollbar {
  width: 10px;
}

.virtual-scroll::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 6px;
}

.virtual-scroll::-webkit-scrollbar-track {
  background-color: $blue-2;
  border-radius: 6px;
}

.custom-scroll {
  // box-sizing: border-box;
  box-shadow: 0 0px 12px $grey-5;
}

.custom-scroll .q-table__middle {
  overflow: auto !important;
  max-height: 600px;
}

.custom-scroll .q-table__middle:hover {
  overflow: auto !important;
}

.custom-scroll .q-table__middle::-webkit-scrollbar {
  width: 10px;
}

.custom-scroll .q-table__middle::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 6px;
}

.custom-scroll .q-table__middle::-webkit-scrollbar-track {
  background-color: $blue-2;
  border-radius: 6px;
}

.drawerScroll::-webkit-scrollbar {
  width: 8px;
}

.drawerScroll::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 6px;
}

.drawerScroll::-webkit-scrollbar-track {
  background-color: $blue-2;
  border-radius: 6px;
}

.custom-loading-style {
  font-weight: bold;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.hover-row {
  transition: height 0.3s ease, background-color 0.3s ease;
}

.hover-row:hover {
  height: 65px;
  background-color: $blue-2;
}

.disable-pointer-events {
  pointer-events: none;
}

.hoverable-item:hover {
  background-color: $blue-2;
  transition: 1s ease;
}

.custom-title-class {
  background-color: $primary;
}

.text-size-sm {
  font-size: 16px;
}

.text-size-md {
  font-size: 18px;
}

.text-size-lg {
  font-size: 20px;
}

.text-size-default {
  font-size: 18px;
}

.containermainn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.rounded {
  border-radius: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.filingForm {
  border-radius: 10px;
  margin-top: 10px;
}

.roundedd1 {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
  padding-bottom: 10px;
}

.roundedd {
  border-radius: 10px;
  // margin-top: 10px;
  margin-bottom: 50px;
}

.bold-text {
  font-weight: bold;
}

.xs-text {
  font-size: 16px;
}

.sm-text {
  font-size: 18px;
}

.md-text,
.lg-text {
  font-size: 20px;
}

.xl-text {
  font-size: 25px;
}

.sm-width {
  width: 350px;
}

.md-width {
  width: 450px;
}

.lg-width {
  width: 500px;
}

.xl-width {
  width: 550px;
}

.sm-min-height {
  min-height: 100px;
}

.md-min-height {
  min-height: 100px;
}

.lg-min-height {
  min-height: 100px;
}

.xl-min-height {
  min-height: 100px;
}

.text2 {
  font-size: 15px;
}

.no-dropdown .q-btn-dropdown__arrow {
  display: none;
}

.q-date-container {
  position: relative;
}

.q-menu {
  height: auto !important;
  max-height: 300px !important;
  overflow-y: auto !important;
}

.q-menu .q-item:hover {
  background-color: $blue-3;
  transition: background-color 1s ease;
  // border-radius: 10px;
}

.q-menu {
  overflow: hidden;
}

.q-menu:hover {
  overflow: auto;
}

.q-menu::-webkit-scrollbar {
  width: 10px;
}

.q-menu::-webkit-scrollbar {
  width: 10px;
}

.q-menu::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 6px;
}

.q-menu::-webkit-scrollbar-track {
  background-color: $blue-2;
  border-radius: 6px;
}

.q-dialog__title {
  font-weight: bold;
  background-color: $primary;
  color: white;
  margin-bottom: 10px;
}

.q-dialog__message {
  font-weight: bold;
}

.activeLink {
  background-color: $blue-3;
}

.custom-placeholder ::placeholder {
  color: $yellow-10;
  opacity: 1;
}

.q-virtual-scroll__content::-webkit-scrollbar {
  width: 12px;
}

.q-virtual-scroll__content::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 6px;
}

.q-virtual-scroll__content::-webkit-scrollbar-track {
  background-color: $yellow-3;
  border-radius: 6px;
}

.q-select-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.q-select-container .q-select,
.q-select-container .q-input {
  flex: 0 0 calc(33.33% - 16px);
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;
}

.q-select-container .q-input {
  margin-bottom: 10px;
}

.employee-card {
  border-radius: 10px;
  box-shadow: 0 0 4px $primary;
}

.tree-with-outline .q-tree__node {
  border: 1px solid $blue-10 !important;
  border-radius: 4px;
  margin-bottom: 5px;
}

// .tree-with-outline .q-tree__node:hover {
//   background-color: $blue-2;
//   transition: background-color 0.5s ease;
// }

.shadowcard {
  box-shadow: 0 0px 5px $grey-6;
  margin-bottom: 50px;
}

.shadowcard2 {
  box-shadow: 0 0px 5px $grey-6;
}

.drawerStyle {
  box-shadow: 0 0px 5px $grey-7 !important;
}

.drawerMenu {
  flex: 1;
  overflow: auto;
}

.drawerMenu:hover {
  overflow: auto;
}

.drawerMenu::-webkit-scrollbar {
  width: 8px;
}

.drawerMenu::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 6px;
}

.drawerMenu::-webkit-scrollbar-track {
  background-color: $blue-2;
  border-radius: 6px;
}

.drawer-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  background: transparent;
  color: $blue-10;
}

.inputDiv {
  box-shadow: 0 0px 12px $grey-5;
}

.mobileTable {
  border: 0.5px solid black;
  border-radius: 10px;
}

.blue-outline .q-field__control {
  border: 1px solid $blue-10 !important;
}

.blue-outline .q-field__control:before {
  border: none !important;
}

.ann-outline {
  box-shadow: 0 0px 5px $blue-10;
}

.hide-native-time-controls
  input[type="time"]::-webkit-calendar-picker-indicator {
  display: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  background: none !important;
  width: 0 !important;
  height: 0 !important;
}

.gradient-background {
  background: linear-gradient(
    to right,
    white 15%,
    $primary 35%,
    $primary 100% /* 90% of div is full primary color */
  ) !important;
}

.blurred-image {
  width: 100%;
  height: 100%;
  position: relative;
  background: url(../assets/images/PDFBackground.png) center/cover no-repeat;
  filter: blur(2px);
  opacity: 1.5;
}

.q-drawer {
  background: transparent !important;
  box-shadow: none !important;
}

.avatar-pop {
  background-color: white; /* ensures a clean edge */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* soft shadow for pop effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
